<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Food Tracker</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="foodTracker">
	<div class="container">
		<section ng-controller="ItemCtrl as vm">
			<div class="container">
				<p>Enter an Item:</p>
				<form ng-submit="vm.onSubmit()">
					<formly-form model="vm.newItem" fields="vm.newItemFields" form="vm.newItemForm">
		        <button type="submit" class="btn btn-primary" ng-disabled="vm.NewItemForm.$invalid">Submit</button>
		    	</formly-form>
	   	 </form>
			</div>
			<div class="container">
				<div class="col-md-8">
					<h2>Food Items</h2>
					<table>
						<tr>
							<th>Name</th>
							<th>Calories</th>
							<th>Fat</th>
							<th>Carbs</th>
							<th>Protein</th>
							<th>Sodium</th>
							<th>Fiber</th>
						</tr>
						<tr ng-repeat="item in selectedItems track by $index">
							<td>{{item.name}} ({{item.portion}})</td>
							<td>{{item.calories}}</td>
							<td>{{item.fat}}</td>
							<td>{{item.carbs}}</td>
							<td>{{item.protein}}</td>
							<td>{{item.sodium}}</td>
							<td>{{item.fiber}}</td>
							<td><button ng-click="deleteItem($index)">Delete</button></td>
						</tr>
					</table>
				</div>
				<div class="col-md-4">
					<h2>Database List</h2>
					<table id="database-items">
						<tr ng-repeat="item in items track by $index" ng-click="selectItem(item)">
							<td>{{item.name}} ({{item.portion}})</td>
						</tr>
				</div>
			</div>
		</section>
	</div>

<script src="node_modules/api-check/dist/api-check.min.js"></script>
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-formly/dist/formly.js"></script>
<script src="node_modules/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>

<script src="app.js"></script>
<script src="js/ItemCtrl.js"></script>

</body>
</html>