include ../includes/header
include ../includes/currentUser
include ../../public/app/login/navbar
include ../../public/main-content
include ../../public/app/login/signup-modal
include ../includes/scripts