section#welcome
	h1 Welcome to FoodTracker
	p <strong>FoodTracker</strong> is a simple, no-frills app to keep track of your daily nutritional intake.
	p No, it's not a place to share pictures of your food on Facebook, nor is it about sharing your accomplishments with friends. It's simply a tool to help you stay on top of dietary goals.
	button.btn.btn-primary Signup Today
